<!DOCTYPE html>
<html>
<head>
	<title>Template</title>

<!--================================-->
<!--[StyelSheet Sections]-->
<!--================================-->

<!-- [Customized CSS] -->
<link rel="stylesheet" type="text/css" href="">
<!-- [Latest compiled and minified CSS & JS] -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!--================================-->
<!--[./StyelSheet Sections]-->
<!--================================-->

</head>
<body>


<h1>Template File:</h1>



<!--================================-->
<!--[Script Sections]-->
<!--================================-->

<script type="text/javascript" src="app/Models/"></script>

<!-- Main.js -->
<script type="text/javascript" src="app/Controllers/"></script>

<!-- IF:Any:Custom.js -->
<script type="text/javascript" src=""></script>

<!--================================-->
<!--[./Script Sections]-->
<!--================================-->
</body>
</html>

