<!DOCTYPE html>
<html>
<head>
	<title>Template</title>

<!--================================-->
<!--[StyelSheet Sections]-->
<!--================================-->

<link rel="stylesheet" type="text/css" href="">
<!--================================-->
<!--[./StyelSheet Sections]-->
<!--================================-->

</head>
<body>


<h1>Template File:</h1>



<!--================================-->
<!--[Script Sections]-->
<!--================================-->

<script type="text/javascript" src="app/Models/"></script>

<!-- Main.js -->
<script type="text/javascript" src="app/Controllers/"></script>

<!-- IF:Any:Custom.js -->
<script type="text/javascript" src=""></script>

<!--================================-->
<!--[./Script Sections]-->
<!--================================-->
</body>
</html>

